body {
    color: rgb(87, 202, 255);
    background: rgb(255, 255, 255)
    margin: 0px;
}

header {
    border-bottom: solid 2xp rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(252, 252, 252);
}